<div class="container">    
    <div class="row pad-top40px">
        <div class="row col-sm-12">
            <div class="col-sm-3">
                <div class="card float-right card-highlight-homepage remove-width">
                    <div class="introduction-icon col-sm-6 offset-3">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    </div>

                    <div class="card-body pos-rel">
                        <p class="card-title">Nhiều năm kinh nghiệm</p>
                        <p class="card-text">
                            Chúng tôi đã đại diện cho khách hàng của chúng tôi ở Việt Nam trong nhiều năm qua liên quan đến lĩnh vực di trú, đầu tư tại đất nước Canada.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card float-right card-highlight-homepage remove-width">
                    <div class="introduction-icon col-sm-6 offset-3">
                        <i class="fa fa-diamond" aria-hidden="true"></i>
                    </div>
                    <div class="card-body pos-rel">
                        <p class="card-title">Hơn nhiều trường hợp nhập cư</p>
                        <p class="card-text">
                            Chúng tôi đã thành công đại diện cho nhiều khách hàng Việt Nam nhập cư vào đất nước Canada.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card float-right card-highlight-homepage remove-width">
                    <div class="introduction-icon col-sm-6 offset-3 red-background">
                        <i class="fa fa-umbrella" aria-hidden="true"></i>
                    </div>
                    <div class="card-body pos-rel">
                        <p class="card-title">Đánh giá miễn phí</p>
                        <p class="card-text">
                            Trước khi đại diện cho khách hàng của chúng tôi, chúng tôi cung cấp một quy trình đánh giá nhập cư Canada miễn phí. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card float-right card-highlight-homepage remove-width">
                    <div class="introduction-icon col-sm-6 offset-3">
                        <i class="fa fa-life-ring" aria-hidden="true"></i>
                    </div>
                    <div class="card-body pos-rel">
                        <p class="card-title">Chuyên gia xuất nhập cảnh</p>
                        <p class="card-text">
                            Tất cả luật sư & tư vấn của chúng tôi chuyên về Luật Di Trú để đảm bảo trường hợp của bạn được giải quyết đúng đắn.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top40px canada-deserve-to-life">
        <div class="row col-sm-12 canada-deserve-to-life-title">
            <p>CANADA</p>
            &nbsp; QUỐC GIA ĐÁNG SỐNG
        </div>
        <hr class="hoz-line-fee" />
        <div class="row">
            <div class="col-sm-7 pad-top40px">
                <div class="row mar-bottom30px">
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-chatluongcuocsong" src="../assets/images/chatluongcuocsong1.jpg" />
                        <p class="center-note">CHẤT LƯỢNG CUỘC SỐNG</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-quyencongdan" src="../assets/images/quyencongdan.png" />
                        <p class="center-note">QUYỀN CÔNG DÂN</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-quyenluc" src="../assets/images/quyenluc.png" />
                        <p class="center-note">QUYỀN LỰC</p>
                    </div>
                </div>
                <div class="row mar-bottom30px">
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-mochodoanhnghiep" src="../assets/images/mochodoanhnghiep.jpg" />
                        <p class="center-note">MỞ CHO DOANH NGHIỆP</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-giaoduc" src="../assets/images/giaoduc.jpg" />
                        <p class="center-note">GIÁO DỤC</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-nuoidayconcai" src="../assets/images/nuoidayconcai.png" />
                        <p class="center-note">NUÔI DẠY CON CÁI</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-minhbach" src="../assets/images/minhbach.png" />
                        <p class="center-note">MINH BẠCH</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-trusochinhcuatongcongty" src="../assets/images/trusochinhcuatongcongty.jpg" />
                        <p class="center-note">TRỤ SỞ CHÍNH</p>
                    </div>
                    <div class="col-sm-4 pos-rel">
                        <img class="img-fluid full-width box-shadow-phunu" src="../assets/images/phunu.png" />
                        <p class="center-note">PHỤ NỮ</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <img class="img-fluid full-width" src="../assets/images/tieuchixephang.png" />
                </div>
                <div class="ranking-criteria">
                    Tiêu chí xếp hạng
                </div>
                <div class="">
                    Đằng sau sự giàu có và thành công của một quốc gia là các chính sách tạo ra các khả năng, những thúc đẩy nỗ lực và lịch sử định hình môi trường và quan điểm.
                    <br />
                    Bảng xếp hạng của một quốc gia đáng sống nhất được dựa trên một số đặc điểm và 9 phần quan trọng ngày đây tạo nên thứ hạng tổng thể, góp phần tạo nên quốc gia đáng sống
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top40px canada-deserve-to-life">
        <div class="row col-sm-12 canada-deserve-to-life-title">
            <p>DỊCH VỤ</p>
            &nbsp; NỔI BẬT
        </div>
        <hr class="hoz-line-fee" />
        <div class="row col-sm-10 offset-1 pad-top40px">
            <div class="col-sm-4">
                <div class="card float-right card-highlight">
                    <img class="card-img-top" src="../assets/images/Dichvunoibat1.png" alt="Card image cap">
                    <div class="card-body pos-rel">
                        <div class="card-main-outstanding-title">ĐẦU TƯ TỈNH BANG NEW BRUNKSWICKS</div>
                        <div class="outstanding-form">
                            <hr />
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            <hr />
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            <hr />
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            <hr />
                        </div>
                        <div class="row outstanding-form-footer">
                            <input type="button" id="btnJoinUrban" value="THAM GIA" class="btn-join" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-highlight">
                    <img class="card-img-top" src="../assets/images/Dichvunoibat2.png" alt="Card image cap">
                    <div class="card-body pos-rel">
                        <div class="card-main-outstanding-title">
                            ĐỊNH CƯ AIPP
                            <br />
                            DIỆN TAY NGHỀ
                        </div>
                        <div class="outstanding-form-violet">
                            <hr />
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            <hr />
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            <hr />
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            <hr />
                        </div>
                        <div class="row outstanding-form-violet-footer">
                            <input type="button" id="btnJoinUrban" value="THAM GIA" class="btn-join" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 float-left">
                <div class="card card-highlight">
                    <img class="card-img-top" src="../assets/images/Dichvunoibat3.png" alt="Card image cap">
                    <div class="card-body pos-rel">
                        <div class="card-main-outstanding-title">
                            WORKPERMIT
                            <br />
                            LAO ĐỘNG VIỆC LÀM
                        </div>
                        <div class="outstanding-form-orrange">
                            <hr />
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            <hr />
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            <hr />
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            <hr />
                        </div>
                        <div class="row outstanding-form-orrange-footer">
                            <input type="button" id="btnJoinUrban" value="THAM GIA" class="btn-join" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top40px canada-deserve-to-life">
        <div class="row col-sm-12 canada-deserve-to-life-title">
            <p>QUY TRÌNH</p>
            &nbsp; XỬ LÝ HỒ SƠ
        </div>
        <hr class="hoz-line-fee" />
        <div class="col-sm-12 document-handling">
            <div class="col-sm-12 document-handling-pri-text">
                DỊCH VỤ VIỆC LÀM ĐẦU TƯ ĐỊNH CƯ CANADA
            </div>
            <div class="col-sm-10 offset-1 document-handling-sec-text">
                Cung cấp dịch vụ nhập cư với sự hỗ trợ của các chuyên gia nhập cư tốt nhất. Chúng tôi hướng dẫn các ứng viên quan tâm lựa chọn các lựa chọn visa PR tốt nhất, đánh giá cơ hội xin visa,
                hỗ trợ ứng viên trong các thủ tục xin visa và thủ tục PR.
            </div>
            <div class="col-sm-10 offset-1 document-handling-section-detail">
                <div class="row mar-bottom30px">
                    <div class="col-sm-4 row">
                        <div class="col-sm-3">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-9 document-handling-section-detail-sec-text">
                            Branding
                            <br />
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </div>
                    </div>
                    <div class="col-sm-4 row">
                        <div class="col-sm-3">
                            <i class="fa fa-deaf" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-9 document-handling-section-detail-sec-text">
                            Web Design
                            <br />
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </div>
                    </div>
                    <div class="col-sm-4 row">
                        <div class="col-sm-3">
                            <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-9 document-handling-section-detail-sec-text">
                            Animation & Motion
                            <br />
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </div>
                    </div>
                </div>
                <div class="row mar-bottom30px">
                    <div class="col-sm-4 row">
                        <div class="col-sm-3">
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-9 document-handling-section-detail-sec-text">
                            E-Commerce
                            <br />
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </div>
                    </div>
                    <div class="col-sm-4 row">
                        <div class="col-sm-3">
                            <i class="fa fa-database" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-9 document-handling-section-detail-sec-text">
                            Mobile
                            <br />
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </div>
                    </div>
                    <div class="col-sm-4 row">
                        <div class="col-sm-3">
                            <i class="fa fa-plane" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-9 document-handling-section-detail-sec-text">
                            SEO
                            <br />
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pad-top40px canada-map">
        <div class="col-sm-12 pos-rel">
            <img class="img-fluid full-width" src="../assets/images/map canada.png" />
            <div class="canada-map-des">
                <p class="canada-map-first-text">CANADA</p>
                <p class="canada-map-sec-text">NƠI HẠNH PHÚC NGẬP TRÀN</p>
            </div>
        </div>
    </div>
    <div class="row pad-top40px contact-form">
        <div class="col-sm-6 offset-5 contact-form-fields">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row  mar-bottom3px">
                        <input class="form-control" type="text" placeholder="Họ và tên">
                    </div>
                    <div class="form-group row mar-bottom3px">
                        <input class="form-control" type="text" placeholder="Email">
                    </div>
                    <div class="form-group row mar-bottom3px">
                        <input class="form-control" type="text" placeholder="Số điện thoại">
                    </div>
                    <div class="form-group row mar-bottom3px">
                        <input class="form-control" type="text" placeholder="Bằng cấp">
                    </div>
                    <div class="form-group row ">
                        <input class="form-control" type="text" placeholder="Tỉnh bang muốn đi">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <textarea class="form-control" id="" rows="8">Lời nhắn</textarea>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-sendmail">GỬI</button>
            </div>
        </div>
    </div>
</div>